.product {

    ion-card {

        position: relative;

        .info {
            position: absolute;
            bottom: 0;
        }

        h2 {
            font-size: 1.6em;
            color: color($colors, 'light');
        }

        .price {
            font-size: 1.0em;
            color: color($colors, 'price');
        }

    }

}
